dev.va3zza.com {
    reverse_proxy https://www2.va3zza.com {
        header_up Host www2.va3zza.com
    }
    header Server-Timing source;desc="net44"
}

::1:8888, :8888 {
    respond "Yes, the server is up."
}